body{
    background-image: url("/images/background-clean.png");
    background-size:  cover;
    font-family: Verdana, sans-serif;;
}


table{
    background-color: rgba(221, 200, 200, 0.2);
    width: 72%;
    text-align: center;
    margin-left: 4%;
}

.super-col {
    width: 33%;
}

.btn-table {
    width: 100%;
}

thead{
    background-color: black;
    color: aliceblue;
}

.control{
    float: left;
    width: 20%;
    background-color: rgba(231, 227, 218, 0.904);
    border-radius: 20px;    
    padding-bottom: 1%;
    padding-inline-start: 1%;
    padding-inline-end: 1%;
}


.control button, input {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.control .panel h4{
    background-color: rgba(105, 99, 99, 0.336);
    height: 8rem;
    text-align: center;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
    filter: brightness(130%);
}

.control button{
    color: white;
    height: 80;
    text-align: center;
    margin-top: 6%;
}

#btn_entrance{
    background-color: rgb(111, 204, 111);
}

#btn_exit{
    background-color: rgb(223, 103, 103);
}

#btn_erase_data{
    background-color: rgb(223, 0, 0);
}

#btn_help {
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(65, 0, 0);
    margin-bottom: 10px;
    width: 200px;
}

.btn_payment{
    border-radius: 10px;
    font-size: 20px;
    background-color: #ff8e25;
    margin-bottom: 30px;
}

.checkboxes{
    margin-top: 1%;
    width: 10%;
}

.column {
    float: left;
    margin-top: 1%;
}
  
.left {
   width: 30%;
}
  
.right {
   width: 60%;
}

.shadow {
    box-shadow: 5px 5px 5px #aaaaaa;
    margin-bottom: 50px;
}

.round_font {
    border-radius: 10px;
    font-size: 20px;
}

.placa_veiculo_title{
    margin-bottom: -3px;
}

.teste {
    float: right;
}
aside > div {
    margin-bottom: 20px;
}
  /* Clear floats after the columns */
  /*.row:after {
    content: "";
    display: table;
    clear: both;
  }*/
 
  .tester {
      border: 1px solid red;
  }

#parking_spots{
    margin-top: 1%;
    margin-left: 26%;
}
 
#btnCalcularSalario{
    margin-top: 1%;
    margin-left: 35%;
    background-color: rgb(111, 204, 111);
    border-radius: 4px;
    border-radius: 10px;
    font-size: 20px;
}

#btn-calcular-spots{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-radius: 10px;
    font-size: 18px;
}